
/* ----------------------- */
/* animation-left-to-right */
/* ----------------------- */

  @keyframes loadBounce {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    40% {
      transform: translate(-50%, -50%) scale(1.2);
    }
    60% {
      transform: translate(-50%, -50%) scale(1);
    }
    80% {
      transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  .animation-left-to-right a {
    transition: all 0.2s linear;
    text-decoration: none;
    background: linear-gradient(to right, #2d2d2d 0%, #2d2d2d 98%);
    background-size: 0px 3px;
    background-repeat: no-repeat;
    background-position: left 85%;
    padding-bottom: 4px;
    /* animation: loadBounce 0.5s ease-in-out forwards; */
  }
  
  .animation-left-to-right a:hover {
    background-size: 100% 3px;
  }

  

/* ------------------- */
/* animation-out-to-in */
/* ------------------- */

.animation-out-to-in a {
  text-decoration: none;
  position: relative;
  display: block;
}

.animation-out-to-in {
  display: inline-block;
}

/* linkone */
.animation-out-to-in a:before, .animation-out-to-in a:after {
  content: '';
  border-bottom: solid 3px;
  position: absolute;
  bottom: 0;
  width: 0;
}

.animation-out-to-in a:before { left: 0; }
.animation-out-to-in a:after { right: 0; }

.animation-out-to-in a:hover:before, .animation-out-to-in a:hover:after {
  width: 50%;
}

.animation-out-to-in a:before, .animation-out-to-in a:after {
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}


/* ------------------------- */
/* Animazioni link-underline */
/* ------------------------- */

.group-link-underline a.link-underline,
.group-link-underline a .link-underline {
  border-bottom-width:0;
  background-image:linear-gradient(transparent,transparent),linear-gradient(#757575,#757575);
  background-size:100% 3px,0 3px;
  background-position:100% 100%,0 100%;
  background-repeat:no-repeat;
  transition:background-size .2s ease-in-out,background-position .3s ease-in-out
}

.group-link-underline:hover a.link-underline, 
.group-link-underline:hover a .link-underline {
  background-size:0 3px,100% 3px;
  background-position:100% 100%,0 100%
}

.group-link-underline a.link-underline-white,
.group-link-underline a .link-underline-white {
  border-bottom-width:0;
  background-image:linear-gradient(transparent,transparent),linear-gradient(#fff,#fff);
  background-size:100% 3px,0 3px;
  background-position:100% 100%,0 100%;
  background-repeat:no-repeat;
  transition:background-size .2s ease-in-out,background-position .3s ease-in-out
}

.group-link-underline:hover a.link-underline-white,
.group-link-underline:hover a .link-underline-white {
  background-size:0 3px,100% 3px;
  background-position:100% 100%,0 100%
}


.group-link-underline a.link-underline-black,
.group-link-underline a .link-underline-black {
  border-bottom-width:0;
  background-image:linear-gradient(transparent,transparent),linear-gradient(#000,#000);
  background-size:100% 3px,0 3px;
  background-position:100% 100%,0 100%;
  background-repeat:no-repeat;
  transition:background-size .2s ease-in-out,background-position .3s ease-in-out
}

.group-link-underline:hover a.link-underline-black,
.group-link-underline:hover a .link-underline-black {
  background-size:0 3px,100% 3px;
  background-position:100% 100%,0 100%
}

.group-link-underline a.link-underline-colored,
.group-link-underline a .link-underline-colored {
  border-bottom-width:0;
  /* background-image:linear-gradient(transparent,transparent),linear-gradient(#a9f,#a9f); */
  background-size:100% 3px,0 3px;
  background-position:100% 100%,0 100%;
  background-repeat:no-repeat;
  transition:background-size .2s ease-in-out,background-position .3s ease-in-out
}

.group-link-underline:hover a.link-underline-colored,
.group-link-underline:hover a .link-underline-colored {
  background-size:0 3px,100% 3px;
  background-position:100% 100%,0 100%
}

/* --------------------------------------------------- */
/* Vieport per la galleria fotografica  in prima pagina*/
/* --------------------------------------------------- */
/* @media (min-width: 640px) { 
  .flickity-viewport {
    height: 200px !important;
  }
}
@media (min-width: 768px) { 
  .flickity-viewport {
    height: 200px !important;
  }
}
@media (min-width: 1024px) { 
  .flickity-viewport {
    height: 300px !important;
  }
}
@media (min-width: 1280px) { 
  .flickity-viewport {
    height: 400px !important;
  }
}
@media (min-width: 1536px) { 
  .flickity-viewport {
    height: 500px !important;
  }
} */

/* Personalizzazione pulsante non visibile per carousel di prima pagina*/
.flickity-button:disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}


/*––––––––––––––––––––---
   Gestione Modali News 
  ----------------------*/
.modal.is-visible {
  visibility: visible;
}

/* Animazioni modali */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}


[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}


[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog {
  transform: none;
}

    